{% extends 'pages/navl46.html' %}
{% block siripye %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--  <head>-->

      <style>

        .custom-scrollbar-js,
.custom-scrollbar-css {
  height: 350px;
}


/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
  overflow-y: scroll;
}

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
  width: 6px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
  background: #eee;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #00d2ff;
  background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
}



    </style>
      <style>

.thead-blue tr:nth-child(1) th{
   background: #BFEDFF;
   position: sticky;
   top: 0;
   z-index: 10;
   }

      </style>

      <style>

      table{
        margin: 0 auto;
        width: 100%;
        clear: both;
        border-collapse: collapse;
        table-layout: fixed; // ***********add this
        word-wrap:break-word; // ***********and this
            }


          tr { font-size: 13px; }
          td { font-size: 12px; }
          td { color: black; }


          table.dataTable thead th.ui-state-default {
          background: #939493;
          color: white;
            }
          table.dataTable tfoot th.ui-state-default {
          background: #939493;
          color: white;
            }
    </style>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RST Dashboard</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../static/modules/rst_vendors/mdi/css/materialdesignicons.min.css">
<!--    <link rel="stylesheet" href="../rst_vendors/base/vendor.bundle.base.css">-->
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/rst_css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../static/img/rst_img/favicon.png"/>
      <!-- plugin Datatable css for this page -->

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />


<!--      Google Font  -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
      <style>
body {
  font-family: "Poppins", sans-serif;
  //font-size: 48px;
}
</style>
<!--</head>-->
<!--  <body>-->
{% endblock %}
{% block content %}
    <div class="container-scroller">

    <!-- partial:partials/_horizontal-navbar.html -->

    <!-- partial -->


		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">

<!--                    <small>Last Updated On: {{udate[0]}}</small>-->

					<div class="row mt-2">

                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card shadow">
                                <div class="card-header bg-light text-black px-2 p-1 d-flex justify-content-between align-items-center">
                                    <h4 class="mt-2 fw-bold"> Train Incident Report Line 4&6</h4>
                                    <h6 class="mt-2 small"><kbd class="mt-1 small">Updated On: {{udate[0]}}</kbd></h6>
                                    <h6 class="mt-1 small">Download <i class="fas fa-file-excel"></i></h6>
                                    <!--                                    <h6 class="mt-1 small"><kbd class="mt-1 small">Download <i class="fas fa-file-excel"></i></kbd></h6>-->
                                </div>
                            </div>
                        </div>

                    <style>
                        .top-buffer { margin-top:-29px; }
                    </style>

						<div class="col-lg-3 top-buffer grid-margin stretch-card">
							<div class="card shadow card-gradlightblue1">
								<div class="card-body">
									<div class="row">
										<div class="col-lg-12">
                                            <h4 class="card-title">TIR Impact <span class="text-primary ml-2">({{ valtir | sum }})</span> </h4>
                                            <div class="row mt-5">
                                            <canvas id="tirImpact"></canvas>
                                            </div>
<!--											<canvas id="NbUnique" width="800" height="500"></canvas>-->
										</div>
									</div>
								</div>
							</div>
						</div>

                        <div class="col-lg-3 top-buffer grid-margin stretch-card">
							<div class="card shadow card-gradlightblue1">
								<div class="card-body">
									<div class="row">
										<div class="col-lg-12">
                                            <h4 class="card-title">TIR by Status <span class="text-primary ml-2">({{ valorigin | sum }})</span></h4>
<!--                                            <div class="chart-container" style="position: relative; height:27vh; width:25vw">-->
<!--                                                <canvas id="CustomerSpare"></canvas>-->
<!--                                            </div>-->
                                            <div class="row mt-5">
                                            <canvas id="tirPiePic"></canvas>
                                            </div>
<!--											<canvas id="NbUnique" width="800" height="500"></canvas>-->
										</div>
									</div>
								</div>
							</div>
						</div>

                        <div class="col-lg-3 top-buffer grid-margin stretch-card">
							<div class="card shadow card-gradlightblue1">
								<div class="card-body">
									<div class="row">
										<div class="col-lg-12">
                                            <h4 class="card-title">TIR by Origin <span class="text-primary ml-2">({{ valclosure | sum }})</span></h4>
<!--                                            <div class="chart-container" style="position: relative; height:27vh; width:25vw">-->
<!--                                                <canvas id="CustomerSpare"></canvas>-->
<!--                                            </div>-->
                                            <div class="row mt-5">
                                            <canvas id="tirStatus"></canvas>
                                            </div>
<!--											<canvas id="NbUnique" width="800" height="500"></canvas>-->
										</div>
									</div>
								</div>
							</div>
						</div>

                        <div class="col-lg-3 top-buffer grid-margin stretch-card">
							<div class="card shadow card-gradlightblue1">
								<div class="card-body">
									<div class="row">
										<div class="col-lg-12">
											<h4 class="card-title">SAF <span class="text-primary ml-2">({{ valpic | sum }})</span></h4>
<!--                                            <div class="chart-container" style="position: relative; height:27vh; width:25vw">-->
<!--                                                <canvas id="CustomerSpare"></canvas>-->
<!--                                            </div>-->
                                            <div class="row mt-5">
                                            <canvas id="tirSAF"></canvas>
                                            </div>
<!--											<canvas id="NbUnique" width="800" height="500"></canvas>-->

										</div>
									</div>
								</div>
							</div>
						</div>


					</div>

                    <style>
                        .top-buffer { margin-top:-23px; }
                    </style>

                    <div class="row mt-1">
						<div class="col-sm-6 top-buffer grid-margin grid-margin-md-0 stretch-card">
							<div class="card shadow card-gradlightgrey2">
								<div class="card-body">
									<div class="d-flex align-items-center justify-content-between">
										<h4 class="card-title">TIR Person InCharge</h4>
<!--										<h4 class="text-primary font-weight-bold">Grand Total<span class="text-dark ml-3"></span></h4>-->
									</div>

									<div id="support-tracker-legend3" class="support-tracker-legend"></div>
                                     <div class="chart-container" style="position: relative; height:35vh">
									<canvas id="PIC"></canvas>
                                    </div>
								</div>
							</div>
						</div>
					</div>


                    <div class="row mt-2">

						<div class="col-sm-12 grid-margin grid-margin-md-0 stretch-card">
							<div class="card shadow">
								<div class="card-body">
                                    <h4 class="card-title">TIR Details</h4>
                                    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>TIR Date</th>
                <th>TIR Ref</th>
                <th>Train ID</th>
                <th>Description</th>
                <th>Impact</th>
                <th>Sub System</th>
                <th>EQT</th>
                <th>SAF</th>
                <th>MER Ref</th>
                <th>Status</th>
                <th>PIC</th>
                <th>Closure Date</th>
            </tr>
        </thead>
        <tbody>
        {%for i in range(0, tirlist|length)%}
        <tr>
                <td>{{tirlist[i][0]}}</td>
<!--                <td><a href="/gettirfile/{{tirlist[i][1]}}.xlsx" target="_blank"> {{tirlist[i][1]}} </a> </td>-->
                {% if tirlist[i][9]=="Corrected" or tirlist[i][9]=="NFF" %}
                <td><a href="https://alstomgroup.sharepoint.com/:x:/r/sites/TrRmThreeTsy_Project/SUBSYSTEMS/RST/Shared%20Documents/RIYADH-M3-FAST-TSY-RST/14%20Corrective%20Maintenance/L4%26L6/TIR%20Train%20Incident%20Report%20Portal%20(L4%26L6)/{{tirlist[i][1]}}.xlsx" target="_blank"> {{tirlist[i][1]}} </a> </td>
                {% else %}
                <td><a href="https://alstomgroup.sharepoint.com/:x:/r/sites/TrRmThreeTsy_Project/SUBSYSTEMS/RST/Shared%20Documents/RIYADH-M3-FAST-TSY-RST/08%20Troubleshooting%20%26%20Reliability/Troubleshooting%20activity/TIR%20train%20issue%20report/L4%266/{{tirlist[i][1]}}.xlsx" target="_blank"> {{tirlist[i][1]}} </a> </td>
                {% endif %}

                <td>{{tirlist[i][2]|int}}</td>
                <td>{{tirlist[i][3]}}</td>

                 {% if tirlist[i][4]=="Low" %}
                    <td><span class="badge badge-success">{{tirlist[i][4]}} </span> </td>
                {% elif tirlist[i][4]=="Medium" %}
                    <td><span class="badge badge-warning">{{tirlist[i][4]}} </span> </td>
                {% elif tirlist[i][4]=="High" %}
                    <td><span class="badge badge-danger">{{tirlist[i][4]}} </span> </td>
                {% else %}
                    <td>{{tirlist[i][4]}} </td>
                {% endif %}

                <td>{{tirlist[i][5]}}</td>
                <td>{{tirlist[i][6]}}</td>
                <td>{{tirlist[i][7]}}</td>
                <td>{{tirlist[i][8]}}</td>
                <td>{{tirlist[i][9]}}</td>
                <td>{{tirlist[i][10]}}</td>
                <td>{{tirlist[i][11]}}</td>

            </tr>
        {%endfor%}


        </tbody>
        <tfoot>
             <tr>
                <th>TIR Date</th>
                <th>TIR Ref</th>
                <th>Train ID</th>
                <th>Description</th>
                <th>Impact</th>
                <th>Sub System</th>
                <th>EQT</th>
                <th>SAF</th>
                <th>MER Ref</th>
                <th>Status</th>
                <th>PIC</th>
                <th>Closure Date</th>
            </tr>
        </tfoot>
    </table>

                                </div>
							</div>
						</div>
					</div>

				</div>
				<!-- content-wrapper ends -->
				<!-- partial:partials/_footer.html -->
				<footer class="footer">
          <div class="footer-wrap">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Alstom</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Developed by RAO Kamran (Riyadh Metro Project) </span>
            </div>
          </div>
        </footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
    </div>
		<!-- container-scroller -->


        <!-- base:js -->
    <script src="../static/modules/rst_vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="../static/modules/rst_vendors/js/template.js"></script>
    <!-- endinject -->


        <!-- plugin js for this page -->
        <script src="../static/modules/rst_vendors/chart.js/Chart.min.js"></script>
        <script src="../static/modules/rst_vendors/progressbar.js/progressbar.min.js"></script>
		<script src="../static/modules/rst_vendors/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js"></script>
        <script src="../static/modules/rst_vendors/deferred/chartjs-plugin-deferred.min.js"></script>

        <!-- Datatable js for this page -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/dataTables.jqueryui.min.js"></script>


    <script>

      (function($) {
	'use strict';
	$(function() {
        var lbl_pic= {{lbltir|safe}};
		var tirImpactData = {
			datasets: [{
				//data: [3, 59, 37],
				data: [{% for i in valtir %} {{ i }}, {% endfor %}],
				backgroundColor: ['#E70000','#fcd53b', '#036D6D'],
				borderColor: ['#E70000','#fcd53b','#036D6D'],
			}],
			// These labels appear in the legend and in the tooltips when hovering different arcs
			//labels: ["Corrective Action Defined", "NCR Closed", "NCR Opened"],
			labels: lbl_pic,

		};
		var tirImpactOptions = {
			responsive: true,
			cutoutPercentage: 10,
			legend: {
					display: true,
					position: 'left',
			    "labels": {
                    "fontSize": 11,
                	usePointStyle: true,
					boxWidth: 4,
                        }
			},
			animation: {
					animateScale: true,
					animateRotate: true
			},
			plugins: {

				deferred: {
                //xOffset: 150,   // defer until 150px of the canvas width are inside the viewport
                yOffset: '100%', // defer until 50% of the canvas height are inside the viewport
                delay: 1000      // delay of 500 ms after the canvas is considered inside the viewport
                },

				datalabels: {
					 display: true,
					 color: "white",
					 align: 'center',
					 anchor: 'center'
				}
			}

		};
		if ($("#tirImpact").length) {
			var pieChartCanvas = $("#tirImpact").get(0).getContext("2d");
			var pieChart = new Chart(pieChartCanvas, {
				type: 'doughnut',
				data: tirImpactData,
				options: tirImpactOptions
			});
		}



	});

})(jQuery);

  </script>
    <script>

      (function($) {
	'use strict';
	$(function() {
        var lbl_pic= {{lblorigin|safe}};
		var tirPiePicData = {
			datasets: [{
				//data: [3, 59, 37],
				data: [{% for i in valorigin %} {{ i }}, {% endfor %}],
				backgroundColor: ['#464dee','#036D6D','#fcd53b','#4AC7FF','#ED0A00','#036D6D','#990033','#009966','#FF99FF', '#78697C'],
				borderColor: ['#464dee','#036D6D','#fcd53b','#4AC7FF','#ED0A00','#036D6D','#990033','#009966','#FF99FF', '#78697C'],
			}],
			// These labels appear in the legend and in the tooltips when hovering different arcs
			//labels: ["Corrective Action Defined", "NCR Closed", "NCR Opened"],
			labels: lbl_pic,

		};
		var tirPiePicOptions = {
			responsive: true,
			cutoutPercentage: 10,
			legend: {
					display: true,
					position: 'left',
			    "labels": {
                    "fontSize": 11,
                	usePointStyle: true,
					boxWidth: 4,
                        }
			},
			animation: {
					animateScale: true,
					animateRotate: true
			},
			plugins: {

			    deferred: {
                //xOffset: 150,   // defer until 150px of the canvas width are inside the viewport
                yOffset: '100%', // defer until 50% of the canvas height are inside the viewport
                delay: 1000      // delay of 500 ms after the canvas is considered inside the viewport
                },

				datalabels: {
					 display: true,
					 color: "white",
					 align: 'center',
					 anchor: 'center'
				}
			}

		};
		if ($("#tirSAF").length) {
			var pieChartCanvas = $("#tirSAF").get(0).getContext("2d");
			var pieChart = new Chart(pieChartCanvas, {
				type: 'doughnut',
				data: tirPiePicData,
				options: tirPiePicOptions
			});
		}



	});

})(jQuery);

  </script>
    <script>

      (function($) {
	'use strict';
	$(function() {
        var lbl_pic= {{lblpic|safe}};
		var tirPiePicData = {
			datasets: [{
				//data: [3, 59, 37],
				data: [{% for i in valpic %} {{ i }}, {% endfor %}],
				backgroundColor: ['#ED0A00','#42E544','#fcd53b','#4AC7FF','#464dee','#036D6D','#990033','#009966','#FF99FF', '#78697C'],
				borderColor: ['#ED0A00','#42E544','#fcd53b','#4AC7FF','#464dee','#036D6D','#990033','#009966','#FF99FF', '#78697C'],
			}],
			// These labels appear in the legend and in the tooltips when hovering different arcs
			//labels: ["Corrective Action Defined", "NCR Closed", "NCR Opened"],
			labels: lbl_pic,

		};
		var tirPiePicOptions = {
			responsive: true,
			cutoutPercentage: 10,
			legend: {
					display: true,
					position: 'left',
			    "labels": {
                    "fontSize": 11,
                	usePointStyle: true,
					boxWidth: 4,
                        }
			},
			animation: {
					animateScale: true,
					animateRotate: true
			},
			plugins: {

				deferred: {
                //xOffset: 150,   // defer until 150px of the canvas width are inside the viewport
                yOffset: '100%', // defer until 50% of the canvas height are inside the viewport
                delay: 1000      // delay of 500 ms after the canvas is considered inside the viewport
                },

				datalabels: {
					 display: true,
					 color: "white",
					 align: 'center',
					 anchor: 'center'
				}
			}

		};
		if ($("#tirPiePic").length) {
			var pieChartCanvas = $("#tirPiePic").get(0).getContext("2d");
			var pieChart = new Chart(pieChartCanvas, {
				type: 'doughnut',
				data: tirPiePicData,
				options: tirPiePicOptions
			});
		}



	});

})(jQuery);

  </script>
    <script>

      (function($) {
	'use strict';
	$(function() {
        var lbl_status= {{lblclosure|safe}};
		var tirStatusData = {
			datasets: [{
				//data: [3, 59, 37],
				data: [{% for i in valclosure %} {{ i }}, {% endfor %}],
				backgroundColor: ['#ED0A00','#42E544','#fcd53b','#4AC7FF','#464dee','#F60BEF','#990033','#009966','#FF99FF', '#78697C'],
				borderColor:     ['#ED0A00','#42E544','#fcd53b','#4AC7FF','#464dee','#F60BEF','#990033','#009966','#FF99FF', '#78697C'],
			}],
			// These labels appear in the legend and in the tooltips when hovering different arcs
			//labels: ["Corrective Action Defined", "NCR Closed", "NCR Opened"],
			labels: lbl_status,

		};
		var tirStatusOptions = {
			responsive: true,
			cutoutPercentage: 10,
			legend: {
					display: true,
					position: 'left',
			    "labels": {
                    "fontSize": 8,
                	usePointStyle: true,
					boxWidth: 4,
                        }
			},
			animation: {
					animateScale: true,
					animateRotate: true
			},
			plugins: {

			    deferred: {
                //xOffset: 150,   // defer until 150px of the canvas width are inside the viewport
                yOffset: '100%', // defer until 50% of the canvas height are inside the viewport
                delay: 1000      // delay of 500 ms after the canvas is considered inside the viewport
                },

				datalabels: {
					 display: 'auto',
					 color: "white",
					 align: 'center',
					 anchor: 'center'
				}
			}

		};
		if ($("#tirStatus").length) {
			var pieChartCanvas = $("#tirStatus").get(0).getContext("2d");
			var pieChart = new Chart(pieChartCanvas, {
				type: 'doughnut',
				data: tirStatusData,
				options: tirStatusOptions
			});
		}



	});

})(jQuery);

  </script>

<script>

      (function($) {
	'use strict';
	$(function() {
	var lbl_picx= {{lblpicx|safe}};
		var PICdata = {
			//labels: ["401", "402", "403"],
			labels: lbl_picx,
			datasets: [{
				//label: 'PIC',
				//data: [5, 1, 0, 0, 8, 0, 1, 0, 14, 1],
				data: [{% for i in valpicx %} {{ i }}, {% endfor %}],
				backgroundColor: 'RGBA(76, 201, 240,0.6)',
				borderColor: ['#4CC9F0', '#4CC9F0'],
				borderWidth: 1,
				fill: false
			},

			]
		};
		var IosHisOptions = {
				   // responsive:false,
            maintainAspectRatio: false,
			scales: {
				xAxes: [{
				stacked: true,
				barPercentage: 0.9,
				position: 'bottom',
				display: true,
				gridLines: {
					display: true,
					drawBorder: false,
				},
				ticks: {
					display: true, //this will remove only the label
					fontSize: 10,
					stepSize: 300,
					beginAtZero: true
				}
				}],
				yAxes: [{
					stacked: true,
					display: true,
					gridLines: {
						drawBorder: false,
						display: true,
						color: "#f0f3f6",
						borderDash: [8, 4],
					},
					ticks: {
						beginAtZero: true,

					},
				}]
			},
			legend: {
				display: false
			},
			tooltips: {

				backgroundColor: 'rgba(0, 0, 0, 1)',
			},
			plugins: {

			    deferred: {
                //xOffset: 150,   // defer until 150px of the canvas width are inside the viewport
                yOffset: '100%', // defer until 50% of the canvas height are inside the viewport
                delay: 1000      // delay of 500 ms after the canvas is considered inside the viewport
                },

				datalabels: {
					    font: {
                            size: 10,
                            weight: "normal"
                              },
                        display: function(context) {
							return context.dataset.data[context.dataIndex] > 0;
						},
                    color: "#000000",
					//display: true,
					align: 'center',
					anchor: 'center'
				}
			},
			animation: {
              duration : 2500,
            }
		};
		if ($("#PIC").length) {
			var barChartCanvas = $("#PIC").get(0).getContext("2d");
			    //barChartCanvas.canvas.width = 1100;
                //barChartCanvas.canvas.height = 60;
			// This will get the first returned node in the jQuery collection.
			var barChart = new Chart(barChartCanvas, {
				type: 'bar',
				data: PICdata,
				options: IosHisOptions
			});
			document.getElementById('support-tracker-legend3').innerHTML = barChart.generateLegend();
		}

	});
})(jQuery);

  </script>


    <script>
$(document).ready(function() {
    $('#example').DataTable( {

    "order": [[ 8, 'desc' ]],
    "columnDefs": [
      { "width": "45px", "targets": 0 },
      { "width": "40px", "targets": 1 },
      { "width": "40px", "targets": 2 },
      { "width": "170px", "targets": 3 },
      { "width": "45px", "targets": 4 },
      { "width": "90px", "targets": 5 },
      { "width": "55px", "targets": 6 },
      { "width": "30px", "targets": 7 },
      { "width": "50px", "targets": 8 },
      { "width": "55px", "targets": 9 },
      {"width": "55px", "targets": 10 },
      {"width": "55px", "targets": 11 },

      {"className": "dt-center", "targets": "_all"},
      {"type": "date", "targets": 1},
      ],

        //"aLengthMenu": [[10, 25, 50, 75, -1], [10, 25, 50, 75, "All"]],
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 0,

        initComplete: function () {
            //this.api().columns().every( function () {
            this.api().columns([]).every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    //.appendTo( $(column.footer()).empty() )
                    .appendTo( $(column.header()) )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    //select.append( '<option value="'+d+'">'+d+'</option>' )
                    select.append('<option value="' + d + '">' + d.substr(0,10) + '</option>')
                } );
            } );
        }
    } );
} );
</script>

<!--  </body>-->
<!--</html>-->
{% endblock %}