{% extends 'pages/nav.html' %}
  {% block siripye %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--  <head>-->

      <style>
          .grey {
  background-color: #848484;  // Changes background color
  color: #333;                  // Changes text color
}
          .green {
  background-color: #1EC281;  // Changes background color
  color: #333;                  // Changes text color
}
          .red {
  background-color: #FC3659;  // Changes background color
  color: #333;                  // Changes text color
}
          .orange {
  background-color: #FFD34F;  // Changes background color
  color: #333;                  // Changes text color
}

      </style>

      <style>

          .crd {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-red {
    background: linear-gradient(to right, #F33C20, #FF7560 ) !important;
    color: #fff;
}


.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}


.l-bg-grey-dark {
    background: linear-gradient(to right, #17181c, #737373) !important;
    color: #fff;
}


.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.crd .crd-statistic-3 .crd-icon-large .fas, .crd .crd-statistic-3 .crd-icon-large .far, .crd .crd-statistic-3 .crd-icon-large .fab, .crd .crd-statistic-3 .crd-icon-large .fal {
    font-size: 70px;
}

.crd .crd-statistic-3 .crd-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -15px;
    top: 40px;
    opacity: 0.1;
}

.crd .crd-statistic1 .crd-icon1-large .fas, .crd .crd-statistic1 .crd-icon1-large .far, .crd .crd-statistic1 .crd-icon1-large .fab, .crd .crd-statistic1 .crd-icon1-large .fal {
    font-size: 25px;
}

.crd .crd-statistic1 .crd-icon1 {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #E5F706;
    position: absolute;
    right: 17px;
    top: 7px;
    opacity: 0.4;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

      </style>

      <style>

      .btn-xs{
        margin:0 0px 2px 0;
        width: 59px;
        display: inline-block;
      }

      </style>

      <style>
          .bg-light.pink {
        	    background-color: #F764EC !important;
	            border-color: #F764EC;
      </style>

      <style>
         .custom-btnblue {
        	    //background-color: #F764EC !important;
	            //border-color: #F764EC;
	            //background-image: linear-gradient(to right, rgba(80, 134, 239 , 1), rgba(239, 80, 87 , 0.5));
	            background-image: linear-gradient(to right, rgba(0,0,255 , 1), rgba(0,0,255, 1));
	            //background-image: url('../static/img/rst_img/subway2.png');
	            //background-position: 2px 5px;
	            background-repeat: no-repeat;
	            background-size: 8px 26px;
	            //padding-left: 41px;
                //color: #000;
	        }
      </style>
      <style>
         .custom-btnblack {
        	    //background-color: #F764EC !important;
	            //border-color: #F764EC;
	            //background-image: linear-gradient(to right, rgba(80, 134, 239 , 1), rgba(239, 80, 87 , 0.5));
	            background-image: linear-gradient(to right, rgba(0,0,0 , 1), rgba(0,0,0, 1));
	            //background-image: url('../static/img/rst_img/subway2.png');
	            //background-position: 2px 5px;
	            background-repeat: no-repeat;
	            background-size: 8px 26px;
	            //padding-left: 41px;
                //color: #000;
	        }
      </style>
      <style>
         .custom-btnpink {
        	    //background-color: #F764EC !important;
	            //border-color: #F764EC;
	            //background-image: linear-gradient(to right, rgba(80, 134, 239 , 1), rgba(239, 80, 87 , 0.5));
	            //background-image: linear-gradient(to right, rgba(37, 40, 226 , 1), rgba(37, 40, 226, 1));
	            background-image: linear-gradient(to right, rgba(255,102,255, 0.92), rgba(255,102,255, 0.92));
	            //background-image: url('../static/img/rst_img/subway2.png');
	            //background-position: 2px 5px;
	            background-repeat: no-repeat;
	            background-size: 8px 26px;
	            //padding-left: 41px;
                //color: #000;
	        }
      </style>

<style>
    #boxed {
  width: 129px;
  padding: 1px;
  border: 2px solid gray;
  margin: 0;
  //background-image: url('http://placehold.it/200x200');
}

</style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RST Dashboard</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../static/modules/rst_vendors/mdi/css/materialdesignicons.min.css">
<!--    <link rel="stylesheet" href="../rst_vendors/base/vendor.bundle.base.css">-->
    <!-- endinject -->
    <!-- plugin Bootstap 5 css & Java Plugin for this page -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/rst_css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../static/img/rst_img/favicon.png"/>

      <!-- plugin Datatable css for this page -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.jqueryui.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />





<!--      Google Font  -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
      <style>
body {
  font-family: "Poppins", sans-serif;
  //font-size: 48px;
}
</style>

<!--  </head>-->
<!--  <body>-->
  {% endblock %}

{% block content %}


    <div class="container-scroller">
    <!-- partial:partials/_horizontal-navbar.html -->



    <!-- partial --></div>

        <!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">

<div id="content2">
<!--<div class="html-content">-->

                    <div class="row mt-1">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card shadow card-gradlightblue1">
                                <div class="card-header bg-light text-black px-2 p-1 d-flex justify-content-between align-items-center">
                                    <h4 class="mt-2"> Train Availability Status Line 5</h4>
                                    <h6 class="mt-2 small">Updated On: {{udate[0]}}</h6>
                                    <h6 class="mt-1 small">Download <i class="fas fa-file-excel"></i></h6>
                                    <!--                                    <h6 class="mt-1 small"><kbd class="mt-1 small">Download <i class="fas fa-file-excel"></i></kbd></h6>-->
                                </div>

                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h5 class="font-weight-bold text-black p-1 my-auto">Line-5</h5>
                                    </div>

                                    <div class="chart-container mb-2" style="position:relative; flex-wrap:wrap;">

                                        {% for i in range(0, tslistok5|length) %}
                                        {% if (tslistok5[i][1] == "OK") and (tslistok5[i][5] != "PM" and tslistok5[i][5] != "TEST" and tslistok5[i][5] != "VISIT" and tslistok5[i][2] != "MU") %}
                                        <button type="button" class="btn btn-xs btn-success" data-bs-toggle="offcanvas"
                                                data-bs-target="#{{tslistok5[i][0]}}" aria-controls="offcanvasTop">
                                            {{tslistok5[i][0]}}
                                        </button>
                                        {% else %}

                                        {% endif %}
                                        {%endfor%}

                                        <!--    MU train display Start   Line 5 OK         -->
                                        {% for i in range(0, mtustatus2|length) %}
                                        {% if mtustatus2[i][0] == "Line 5" and mtustatus2[i][5] == "Healthy" and mtustatus2[i][6] == 0 %}
                                                {% set mu = namespace(loc=0) %}
                                                {% for j in range(0, tslistok5|length) %}
                                                    {% if tslistok5[j][2] == "MU" and tslistok5[j][0]== mtustatus2[i][3] %}
                                                    {% set mu.loc = j %}
                                                    {% endif %}
                                                {%endfor%}
                                        <!--<span >{{ mu.loc }}</span>-->
                                        <div id="boxed" style="display:inline-block;">
                                            <div style="font-size:11px; font-weight: bold; position: absolute; margin-top:32px; width: 100px; margin-left:45px;">{{mtustatus2[i][1]}}</div>
                                         <button type="button" class="btn btn-xs btn-success" data-bs-toggle="offcanvas"
                                                data-bs-target="#{{tslistok5[mu.loc][0]}}" aria-controls="offcanvasTop">{{mtustatus2[i][3]}}</button>
                                                {% set mu = namespace(loc=0) %}
                                                {% for j in range(0, tslistok5|length) %}
                                                    {% if tslistok5[j][2] == "MU" and tslistok5[j][0]== mtustatus2[i][4] %}
                                                    {% set mu.loc = j %}
                                                    {% endif %}
                                                {%endfor%}
                                        <button type="button" class="btn btn-xs btn-success" data-bs-toggle="offcanvas"
                                                data-bs-target="#{{tslistok5[mu.loc][0]}}" aria-controls="offcanvasTop">{{mtustatus2[i][4]}}
                                        </button>
                                        </div>
                                        {% endif %}
                                        {%endfor%}
                                        <!--    MU train display End           -->

                                        {% for i in range(0, tslistpok5|length) %}
                                        {% if (tslistpok5[i][1] == "POK") and (tslistpok5[i][5] != "PM" and tslistpok5[i][5] != "TEST" and tslistpok5[i][5] != "VISIT" and tslistpok5[i][2] != "MU") %}
                                        <button type="button" class="btn btn-xs btn-warning" data-bs-toggle="offcanvas"
                                                data-bs-target="#{{tslistpok5[i][0]}}" aria-controls="offcanvasTop">
                                            {{tslistpok5[i][0]}}
                                        </button>
                                        {% endif %}
                                        {%endfor%}

                                        <!--    MU train display Start      Line 5 POK     -->
                                        {% for i in range(0, mtustatus2|length) %}
                                        {% if mtustatus2[i][0] == "Line 5" and mtustatus2[i][5] == "Restricted" and mtustatus2[i][6] == 0 %}
                                                {% set mu = namespace(loc=0) %}
                                                {% for j in range(0, tslistpok5|length) %}
<!--                                        <span >{{ "TS"~mtustatus2[i][3] }}</span>-->
                                                    {% if tslistpok5[j][2] == "MU" and tslistpok5[j][0]== mtustatus2[i][3] %}
                                                    {% set mu.loc = j %}
                                                    {% endif %}
                                                {%endfor%}
                                        <!--<span >{{ mu.loc }}</span>-->
                                        <div id="boxed" style="display:inline-block;">
                                            <div style="font-size:11px; font-weight: bold; position: absolute; margin-top:32px; width: 100px; margin-left:45px;">{{mtustatus2[i][1]}}</div>
                                         <button type="button" class="btn btn-xs btn-warning" data-bs-toggle="offcanvas"
                                                data-bs-target="#{{tslistpok5[mu.loc][0]}}" aria-controls="offcanvasTop">{{mtustatus2[i][3]}}</button>
                                                {% set mu = namespace(loc=0) %}
                                                {% for j in range(0, tslistpok5|length) %}
                                                    {% if tslistpok5[j][2] == "MU" and tslistpok5[j][0]== mtustatus2[i][4] %}
                                                    {% set mu.loc = j %}
                                                    {% endif %}
                                                {%endfor%}
                                        <button type="button" class="btn btn-xs btn-warning" data-bs-toggle="offcanvas"
                                                data-bs-target="#{{tslistpok5[mu.loc][0]}}" aria-controls="offcanvasTop">{{mtustatus2[i][4]}}
                                        </button>
                                        </div>
                                        {% endif %}
                                        {%endfor%}
                                        <!--    MU train display End           -->


                                        {% for i in range(0, tslistnok5|length) %}
                                        {% if (tslistnok5[i][1] == "NOK") and (tslistnok5[i][5] != "PM" and tslistnok5[i][5] != "TEST" and tslistnok5[i][5] != "VISIT" and tslistnok5[i][2] != "MU") %}
                                        <button type="button" class="btn btn-xs btn-danger" data-bs-toggle="offcanvas"
                                                data-bs-target="#{{tslistnok5[i][0]}}" aria-controls="offcanvasTop">
                                            {{tslistnok5[i][0]}}
                                        </button>
                                        {% else %}
                                        {% endif %}
                                        {%endfor%}

                                        <!--    MU train display Start      Line 5 NOK     -->
                                        {% for i in range(0, mtustatus2|length) %}
                                        {% if mtustatus2[i][0] == "Line 5" and mtustatus2[i][5] == "Unfit" and mtustatus2[i][6] == 0 %}
                                                {% set mu = namespace(loc=0) %}
                                                {% for j in range(0, tslistnok5|length) %}
<!--                                        <span >{{ "TS"~mtustatus2[i][3] }}</span>-->
                                                    {% if tslistnok5[j][2] == "MU" and tslistnok5[j][0]== mtustatus2[i][3] %}
                                                    {% set mu.loc = j %}
                                                    {% endif %}
                                                {%endfor%}
                                        <!--<span >{{ mu.loc }}</span>-->
                                        <div id="boxed" style="display:inline-block;">
                                            <div style="font-size:11px; font-weight: bold; position: absolute; margin-top:32px; width: 100px; margin-left:45px;">{{mtustatus2[i][1]}}</div>
                                         <button type="button" class="btn btn-xs btn-danger" data-bs-toggle="offcanvas"
                                                data-bs-target="#{{tslistnok5[mu.loc][0]}}" aria-controls="offcanvasTop">{{mtustatus2[i][3]}}</button>
                                                {% set mu = namespace(loc=0) %}
                                                {% for j in range(0, tslistnok5|length) %}
                                                    {% if tslistnok5[j][2] == "MU" and tslistnok5[j][0]== mtustatus2[i][4] %}
                                                    {% set mu.loc = j %}
                                                    {% endif %}
                                                {%endfor%}
                                        <button type="button" class="btn btn-xs btn-danger" data-bs-toggle="offcanvas"
                                                data-bs-target="#{{tslistnok5[mu.loc][0]}}" aria-controls="offcanvasTop">{{mtustatus2[i][4]}}
                                        </button>
                                        </div>
                                        {% endif %}
                                        {%endfor%}
                                        <!--    MU train display End           -->

                                    </div>

<!--                                 **** Reserved ****               -->

                                    <h5 class="font-weight-bold text-black py-2 my-auto">Reserved
                                        ( <div class="d-inline p-0 bg-primary text-primary">-</div> PM /
                                        <div class="d-inline p-0 bg-dark text-dark">-</div> Testing /
<!--                                        <div class="d-inline p-0 bg-light pink" style="">-</div> Visit)</h5>-->
                                        <div class="d-inline p-0 bg-light pink" style="color:#F764EC;">-</div> Visit)</h5>
                                    <div class="chart-container mb-2" style="position:relative; flex-wrap:wrap;">

                                        {% for i in range(0, tslistok5|length) %}
                                        {% if tslistok5[i][5] == "PM" %}
                                        <button type="button" class="btn btn-xs btn-success custom-btnblue"
                                                data-bs-toggle="offcanvas" data-bs-target="#{{tslistok5[i][0]}}"
                                                aria-controls="offcanvasTop">{{tslistok5[i][0]}}
                                        </button>
                                        {% elif tslistok5[i][5] == "VISIT" %}
                                                <button type="button" class="btn btn-xs btn-success custom-btnpink"
                                                data-bs-toggle="offcanvas" data-bs-target="#{{tslistok5[i][0]}}"
                                                aria-controls="offcanvasTop">{{tslistok5[i][0]}}
                                        </button>
                                        {% elif tslistok5[i][5] == "TEST" %}
                                                <button type="button" class="btn btn-xs btn-success custom-btnblack"
                                                data-bs-toggle="offcanvas" data-bs-target="#{{tslistok5[i][0]}}"
                                                aria-controls="offcanvasTop">{{tslistok5[i][0]}}
                                        </button>
                                        {% endif %}
                                        {%endfor%}


                                        {% for i in range(0, tslistpok5|length) %}
                                        {% if tslistpok5[i][5] == "PM" %}
                                        <button type="button" class="btn btn-xs btn-warning custom-btnblue"
                                                data-bs-toggle="offcanvas" data-bs-target="#{{tslistpok5[i][0]}}"
                                                aria-controls="offcanvasTop">{{tslistpok5[i][0]}}
                                        </button>
                                        {% elif tslistpok5[i][5] == "VISIT" %}
                                                <button type="button" class="btn btn-xs btn-warning custom-btnpink"
                                                data-bs-toggle="offcanvas" data-bs-target="#{{tslistpok5[i][0]}}"
                                                aria-controls="offcanvasTop">{{tslistpok5[i][0]}}
                                        </button>
                                        {% elif tslistpok5[i][5] == "TEST" %}
                                                <button type="button" class="btn btn-xs btn-warning custom-btnblack"
                                                data-bs-toggle="offcanvas" data-bs-target="#{{tslistpok5[i][0]}}"
                                                aria-controls="offcanvasTop">{{tslistpok5[i][0]}}
                                        </button>
                                        {% endif %}
                                        {%endfor%}


                                        {% for i in range(0, tslistnok5|length) %}
                                        {% if tslistnok5[i][5] == "PM" %}
                                        <button type="button" class="btn btn-xs btn-danger custom-btnblue"
                                                data-bs-toggle="offcanvas" data-bs-target="#{{tslistnok5[i][0]}}"
                                                aria-controls="offcanvasTop">{{tslistnok5[i][0]}}
                                        </button>
                                        {% elif tslistnok5[i][5] == "VISIT" %}
                                                <button type="button" class="btn btn-xs btn-danger custom-btnpink"
                                                data-bs-toggle="offcanvas" data-bs-target="#{{tslistnok5[i][0]}}"
                                                aria-controls="offcanvasTop">{{tslistnok5[i][0]}}
                                        </button>
                                        {% elif tslistnok5[i][5] == "TEST" %}
                                                <button type="button" class="btn btn-xs btn-danger custom-btnblack"
                                                data-bs-toggle="offcanvas" data-bs-target="#{{tslistnok5[i][0]}}"
                                                aria-controls="offcanvasTop">{{tslistnok5[i][0]}}
                                        </button>
                                        {% endif %}
                                        {%endfor%}

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <style>
                        .top-buffer { margin-top:-20px; }
                    </style>
                    <div class="row top-buffer">

                        <div class="col-md-2 grid-margin stretch-card">
                            <div class="crd col-md-10 l-bg-green">
                                <div class="crd-statistic-3 p-3">
                                    <div class="crd-icon crd-icon-large"><i class="fas fa-subway"></i></div>
                                    <div class="mb-4">
                                       <h4 class="crd-title mb-0"><u>Healthy</u> <!--  <img src="../static/img/rst_img/train.png" width="20" height="19"> --></h4>
                                        <span class="font-weight-bold">{{availtsl[1]}}</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="d-flex align-items-center" style="color:#FBFBFB; font-size:14px;">
                                                Line 5: {{availtsl[1]}}
                                            </h5>
                                        </div>
                                        <!--                        <div class="col-4 text-right">-->
                                        <!--                            <span>0</span>-->
                                        <!--                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 grid-margin stretch-card">
                            <div class="crd col-md-10 l-bg-orange-dark">
                                <div class="crd-statistic-3 p-3">
                                    <div class="crd-icon crd-icon-large"><i class="fas fa-subway"></i></div>
                                    <div class="mb-4">
                                        <h4 class="crd-title mb-0"><u>Restricted</u> </h4><!--  <img src="../static/img/rst_img/train.png" width="20" height="19">-->
                                        <span class="font-weight-bold">{{availtsl[4]}}</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="d-flex align-items-center" style="color:#FBFBFB; font-size:14px;">
                                                Line 5: {{availtsl[4]}}
                                            </h5>
                                        </div>
                                        <!--                        <div class="col-4 text-right">-->
                                        <!--                            <span>0</span>-->
                                        <!--                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 grid-margin stretch-card">
                            <div class="crd col-md-10 l-bg-red">
                                <div class="crd-statistic-3 p-3">
                                    <div class="crd-icon crd-icon-large"><i class="fas fa-subway"></i></div>
                                    <div class="mb-4">
                                        <h4 class="crd-title mb-0"><u>Unfit</u> </h4><!--  <img src="../static/img/rst_img/train.png" width="20" height="19">-->
                                        <span class="font-weight-bold">{{availtsl[7]}}</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="d-flex align-items-center" style="color:#FBFBFB; font-size:14px;">
                                                Line 5: {{availtsl[7]}}
                                            </h5>
                                        </div>
                                        <!--                        <div class="col-4 text-right">-->
                                        <!--                            <span>0</span>-->
                                        <!--                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 grid-margin stretch-card">
                            <div class="crd col-md-10 l-bg-blue-dark">
                                <div class="crd-statistic-3 p-3">
                                    <div class="crd-icon crd-icon-large"><i class="fas fa-subway"></i></div>
                                    <div class="mb-4">
                                        <h4 class="crd-title mb-0"><u>Reserved</u> </h4><!--  <img src="../static/img/rst_img/train.png" width="20" height="19">-->
                                        <span class="font-weight-bold">{{availtsl[13]}}</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="d-flex align-items-center" style="color:#FBFBFB; font-size:14px;">
                                                Line 5: {{availtsl[13]}}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 grid-margin stretch-card">
                            <div class="crd col-md-12 l-bg-grey-dark">
                                <div class="crd-statistic1 p-3">
                                    <div class="crd-icon1 crd-icon1-large"><i class="fas fa-tachometer-alt"></i></div>
                                    <div class="mb-4">
                                        <h4 class="crd-title mb-0"><u>Total Mileage</u></h4>
                                        <span class="font-weight-bold text-info">{{"{:,.0f}".format (availts[3])}} km</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="d-flex align-items-center" style="color:#FBFBFB; font-size:14px;">
                                                Line 4: &nbsp; <span class="count"> {{availtsl[9]}} </span>&nbsp; km
                                            </h5>
                                        </div>
                                        <!--                        <div class="col-4 text-right">-->
                                        <!--                            <span>24</span>-->
                                        <!--                        </div>-->
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="d-flex align-items-center" style="color:#FBFBFB; font-size:14px;">
                                                Line 5: &nbsp; <span class="count"> {{availtsl[10]}} </span>&nbsp; km
                                            </h5>
                                        </div>
                                        <!--                        <div class="col-4 text-right">-->
                                        <!--                            <span>0</span>-->
                                        <!--                        </div>-->
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="d-flex align-items-center" style="color:#FBFBFB; font-size:14px;">
                                                Line 6: &nbsp; <span class="count"> {{availtsl[11]}} </span>&nbsp; km
                                            </h5>
                                        </div>
                                        <!--                        <div class="col-4 text-right">-->
                                        <!--                            <span>24</span>-->
                                        <!--                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 grid-margin stretch-card">
                            <div class="crd col-md-10 l-bg-green-dark">
                                <div class="crd-statistic-3 p-3">
                                    <div class="crd-icon crd-icon-large"><i class="fas fa-subway"></i></div>
                                    <div class="mb-4">
                                       <h4 class="crd-title mb-0"><u>Operational</u> <!--  <img src="../static/img/rst_img/train.png" width="20" height="19"> --></h4>
                                        <span class="font-weight-bold">{{availtsl[16]}}</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="d-flex align-items-center" style="color:#FBFBFB; font-size:14px;">
                                                Line 5: {{availtsl[16]}}
                                            </h5>
                                        </div>
                                        <!--                        <div class="col-4 text-right">-->
                                        <!--                            <span>0</span>-->
                                        <!--                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

				</div>
</div>
				<!-- content-wrapper ends -->
				<!-- partial:partials/_footer.html -->
                    <footer class="footer">
                        <div class="footer-wrap">
                            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Alstom</span>
                                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Developed by RAO Kamran (Riyadh Metro Project) </span>
                            </div>
                        </div>
                    </footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
    </div>
		<!-- container-scroller -->


        <!-- base:js -->
    <script src="../static/modules/rst_vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="../static/modules/rst_vendors/js/template.js"></script>
    <!-- endinject -->


        <!-- Datatable js for this page -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/dataTables.jqueryui.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
    integrity="sha256-c9vxcXyAG4paArQG3xk6DjyW/9aHxai2ef9RpMWO44A=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>




    <script>
    $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 2000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now).toLocaleString('en'));
        }
    });
});
</script>


<script>

$(document).ready(function() {

    domtoimage.toPng(document.getElementById('content2'))
        .then(function (blob) {
            var pdf = new jsPDF('l', 'pt', [$('#content2').width(), $('#content2').height()]);

            pdf.addImage(blob, 'PNG', 0, 0, $('#content2').width(), $('#content2').height(),'someAlias', 'MEDIUM');

            pdf.save("statusl5.pdf");

            that.options.api.optionsChanged();
        });
});

</script>









<!--  </body>-->
<!--</html>-->
{% endblock %}