<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
{% extends 'pages/navproj.html' %}
  {% block siripye %}


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alstom</title>
    <link rel="stylesheet" href="../static/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.minx.css">
    <link rel="stylesheet" href="../static/css/templatemo-style.css">
<!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
<!--</head>-->
<!--<body>-->

{% endblock %}
{% block content %}

    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        </div>
    </nav>

<!--    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="../static/img/p_hero.jpg">-->
<!--    </div>-->

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-dark">
                Project Catalogue
            </h2>
            <div class="d-flex justify-content-end align-items-center">
            </div>
        </div>


        <div class="row tm-mb-90 tm-gallery">
        	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="../static/img/p_l46.jpg" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Riyadh Metro Project <br> Line 4 & 6</h2>
                        <a href="/availabilityl46">View more</a>
                    </figcaption>                    
                </figure>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="../static/img/p_l5.jpg" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Riyadh Metro Project <br> Line 5</h2>
                        <a href="/availabilityl5">View more</a>
                    </figcaption>                    
                </figure>
            </div>
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">-->
<!--                <figure class="effect-ming tm-video-item">-->
<!--                    <img src="../static/img/p_dubai.jpg" alt="Image" class="img-fluid">-->
<!--                    <figcaption class="d-flex align-items-center justify-content-center">-->
<!--                        <h2>Dubai Route 2020 Metro</h2>-->
<!--                        <a href="photo-detail.html">View more</a>-->
<!--                    </figcaption>                    -->
<!--                </figure>-->
<!--            </div>-->
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">-->
<!--                <figure class="effect-ming tm-video-item">-->
<!--                    <img src="../static/img/p_cairo1.jpg" alt="Image" class="img-fluid">-->
<!--                    <figcaption class="d-flex align-items-center justify-content-center">-->
<!--                        <h2>Cairo Monorail project</h2>-->
<!--                        <a href="photo-detail.html">View more</a>-->
<!--                    </figcaption>                    -->
<!--                </figure>-->
<!--            </div>-->
            
        </div> <!-- row -->
    </div> <!-- container-fluid, tm-container-content -->


    
    <script src="../static/js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
<!--</body>-->
<!--</html>-->
{% endblock %}